R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=larmx-media
R2_PUBLIC_URL=https://pub-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.r2.dev
R2_ADMIN_TOKEN=thay-bang-mot-chuoi-dai-ngau-nhien
R2_API_PORT=8787
